{% extends "base.html" %}

{% block maincontent %}

<h1>I Slap eU!</h1>

<h3>"Genius!" - Wall Street Slapper</h3>
<h3>"THE home for digital abuse. Don't miss out." - Stephen McFry</h3>
<h3>"You got TwitSlapped!" - MC Hammer</h3>

<h4>I slap eU is the new internet game taking the web by storm. It's easy and fun. Slap anyone you know on twitter and let them know why. We'll post a twitter message letting them know that they've been slapped.</h4>

<h4>Happy Slapping!</h4>

<h4>Whaopooosh</h4>

{% endblock maincontent %}