{% extends "base.html" %}

{% block extrahead %}

	<script type="text/javascript">  
		AudioPlayer.setup("../static/swf/audioplayer.swf", {  
		width: 0,
		});
	</script>
	
	<script type="text/javascript">
	$(document).ready(function() {
		$("#id_reason").elastic();
		
		$("#bird-btn").click(function() {
			AudioPlayer.embed("audioplayer_1", {  
				soundFile: "/static/mp3/islapeu.mp3",  
				autostart: "yes",
			});
			
			$(this).delay(1800,function() {
				$("#homepage-form").submit();
			});
		});
	});
	</script>

{% endblock extrahead %}

		
{% block maincontent %}

<h1>I Slap eU!</h1>

<form id="homepage-form" action="" method='POST'>
	<div class="left-col">
		{% if request.session.username %}
			<h2 class="welcome">Hello <span class="name">{{ request.session.username }}</span>, back for some more slapping eh? 		
		 	<span class="logout-text">Or <a href="{% url logout %}" class="logout">log out</a> like a wuss</span></h2>
		{% endif %}
		<h2>I want to slap</h2>
		{{ form.slapee }}
		{{ form.slapee.errors }}
		
		<h2>Because... <span class="reason-helper">up to 140 characters</span></h2>
		{{ form.reason }}

		{% if not request.session.username %}	
			<div class="username-left-col">
			<h2>Twitter username</h2>
			{{ form.slaper }}
			{{ form.non_field_errors }}
			</div>
			
			<div class="">
			<h2>Twitter password</h2>
			{{ form.password }}
			</div>	
		{% endif %}
	
		<div id="player-container">	
			<p id="audioplayer_1"></p> 
		</div> 
	
	</div>
	<div class="right-col">
		<input type="submit" value"" id="slaphiddensubmit" />
		<a href="#" id="bird-btn"></a>
	</div>
</form>	

 


{% endblock maincontent %}
