{% extends "base.html" %}

{% block maincontent %}

<a href="{% url home %}"><h1>I Slap eU!</h1></a>

<form id="slap-form" action="" method="post">
	<div class="left-col">
		<!--
		<p class="total-slap-count">{{ slap_count }} slaps so far</p>
		-->
		
		{% if request.session.username %}
			<h2 class="welcome">Hello <a href="{% url slap request.session.username %}"><span class="name">{{ request.session.username }}</span></a>, back for some more slapping eh? 		
		 	<span class="logout-text">Or <a href="{% url logout %}" class="logout">log out</a> like a wuss</span></h2>
		{% endif %}
		<h2>I want to twitslap</h2>
		{{ form.slapee }}
		{{ form.slapee.errors }}
		
		<h2>Because... <span class="reason-helper">up to 140 characters</span></h2>
		{{ form.reason }}

		{% if not request.session.username %}	
			<div class="username-left-col">
			<h2>Twitter username</h2>
			{{ form.slaper }}
			{{ form.non_field_errors }}
			</div>
			
			<div class="">
			<h2>Twitter password</h2>
			{{ form.password }}
			</div>	
		{% endif %}
	
	</div>
	<div class="right-col">
		<input type="submit" value="" id="slaphiddensubmit" />
		<a href="#" id="bird-btn"></a>
		<div id="player-container">	
			<p id="audioplayer_1"></p> 
		</div> 
		<div class="clearit"></div>
	</div>
</form>	

 <div class="clearit"></div>


{% endblock maincontent %}
