{% extends "base.html" %}

{% block maincontent %}

<h1>I Slap eU!</h1>

<form id="homepage-form" action="" method='POST'>
	<div class="left-col">
		<h2>I want to slap</h2>
		{{ form.slapee }}
		{{ form.slapee.errors }}
		
		<h2>Because... <span class="reason-helper">up to 160 characters</span></h2>
		{{ form.reason }}

		<div class="username-left-col">
		<h2>Twitter username</h2>
		{{ form.slaper }}
		{{ form.non_field_errors }}
		</div>
		
		<div class="">
		<h2>Twitter password</h2>
		{{ form.password }}
		</div>	

	</div>
	<div class="right-col">
		<input type="submit" value"" id="bird-btn" />
	</div>
</form>	

{% endblock maincontent %}
