{% extends "base.html" %}

{% block maincontent %}

<h1>I Slap eU!</h1>

<form id="slap-form" action="" method="post">
	<div class="left-col">
		{% if request.session.username %}
			<h2 class="welcome">Hello <a href="{% url slap request.session.username %}"><span class="name">{{ request.session.username }}</span></a>, back for some more slapping eh? 		
		 	<span class="logout-text">Or <a href="{% url logout %}" class="logout">log out</a> like a wuss</span></h2>
		{% endif %}
		<h2>I want to slap {{ username }}</h2>
		
		<h2>Because... <span class="reason-helper">up to 140 characters</span></h2>
		{{ form.reason }}


		{% if not request.session.username %}	
			<div class="username-left-col">
			<h2>Twitter username</h2>
			{{ form.slaper }}
			{{ form.non_field_errors }}
			</div>
			
			<div class="">
			<h2>Twitter password</h2>
			{{ form.password }}
			</div>	
		{% endif %}	
		
		<div class="clearit"></div>
		<h2 class="number-times">{{ username }} has been slapped <span class="name">{{ slapee_count }}</span> times</h2>
				
		{% for slap in slaps %}
			<div class="slap-row">
				<div class="slapper-image"><a href="{% url slap slap.slaper %}"><img src="{{ slap.slaper_image_url }}" alt="{{ slap.slaper }}" /></a></div>
				<div class="slap-row-rightcol">
					<h2><a href="{% url slap slap.slaper %}"><span class="name">{{ slap.slaper }}</span></a> because</h2>
					<p>{{ slap.reason }}</p>
					{{ slap.created_at|timesince }} ago
				</div>
				<div class="clearit"></div>
			</div>		
		{% endfor %}
		
		
	
	</div>
	<div class="right-col">
		<input type="submit" value="" id="slaphiddensubmit" />
		<a href="#" id="bird-btn"></a>
		<div id="player-container">	
			<p id="audioplayer_1"></p> 
			<div class="clearit"></div>
			<div class="ads">
				<a href="http://click.linksynergy.com/fs-bin/click?id=JZuFYdJBGco&offerid=146261.10003393&type=4&subid=0"><IMG alt="" border="0" src="http://images.apple.com/itunesaffiliates/US/2008/08/01/AppsLaunch_300x300.jpg"></a><IMG border="0" width="1" height="1" src="http://ad.linksynergy.com/fs-bin/show?id=JZuFYdJBGco&bids=146261.10003393&type=4&subid=0">
			</div>
		</div>
	</div>
</form>	

 <div class="clearit"></div>
 
 

{% endblock maincontent %}
