{% extends "base.html" %}

{% block maincontent %}

<a href="{% url home %}"><h1>I Slap eU!</h1></a>

{{ form.errors }}

<form id="slap-form" action="" method="post">
	<div class="left-col">
		{% if request.session.username %}
			<h2 class="welcome">Hello <a href="{% url slap request.session.username %}" class="user-link">{{ request.session.username }}</a>, back for some more slapping eh? 		
		 	<span class="logout-text">Or <a href="{% url logout %}" class="logout">log out</a> like a wuss</span></h2>
		{% endif %}
		
		<div class="slapee-image">		
			{% if slapee_image_url %}
				<a href="http://twitter.com/{{ username }}" target="_blank"><img src="{{ slapee_image_url}}" alt="{{ username }}"/></a>
			{% else %}
				<img src="/static/images/default-bird.png" alt="{{ username }}"/>
			{% endif %}
		</div>
		
		<h2>I want to slap <a href="http://twitter.com/{{ username }}" class="user-link" target="_blank">{{ username }}</a></h2>
		
		<h2>Because... <span class="reason-helper">up to 140 characters</span></h2>
		{{ form.reason }}


		{% if not request.session.username %}	
			<div class="username-left-col">
			<h2>Twitter username</h2>
			{{ form.slaper }}
			{{ form.non_field_errors }}
			</div>
			
			<div class="">
			<h2>Twitter password</h2>
			{{ form.password }}
			</div>	
		{% endif %}	
		
		<div class="clearit"></div>
		<h2 class="number-times"><a href="http://twitter.com/{{ username }}" class="user-link" target="_blank">{{ username }}</a> has been slapped <span class="name">{{ slapee_count }}</span> times</h2>
				
		{% for slap in slaps %}
			<div class="slap-row">
				<div class="slapper-image"><a href="{% url slap slap.slaper %}"><img src="{{ slap.slaper_image_url }}" alt="{{ slap.slaper }}" /></a></div>
				<div class="slap-row-rightcol">
					<h2><a href="{% url slap slap.slaper %}" class="user-link"><span class="name">{{ slap.slaper }}</span></a> {% if slap.reason %}because{% endif %}</h2>
					{% if slap.reason %}
						<p>{{ slap.reason }}</p>
					{% endif %}
					<p class="slap-date">{{ slap.created_at|timesince }} ago</p>
				</div>
				<div class="clearit"></div>
			</div>		
		{% endfor %}
		
	</div>
	<div class="right-col">
		<input type="submit" value="" id="slaphiddensubmit" />
		<a href="#" id="bird-btn"></a>

		<div class="clearit"></div>
		<div class="ads">
			<script type="text/javascript"><!--
				google_ad_client = "pub-1154565808431847";
				/* Islap_userpage_300x250 */
				google_ad_slot = "7419333410";
				google_ad_width = 300;
				google_ad_height = 250;
				//-->
			</script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
		</div>

		<div class="clearit"></div>
		<div id="player-container">	
			<p id="audioplayer_1"></p> 
		</div>
		
	</div>
</form>	

 <div class="clearit"></div>
 


{% endblock maincontent %}
