{% extends "base.html" %}

{% block maincontent %}

<h1>I Slap eU!</h1>

<h3>Terms and Conditions</h3>

<h4>Permissions</h4>
<h4>By using www.islap.eu you are giving Islap.eu ("I Slap You", "we", "us", "the Site" or "our") the permission to slap your friends.</h4>

<h4>Responsibility</h4>
<h4>Use of this Site assumes full responsibility for any "slaps" or "Twitslaps" you make.</h4>

<h4>We do not take any responsibility for pain, discomfort, agony, "beef" or any other consequences of a slap. Exclusion: we take full credit for all jokes, amusement or banter that result from slaps made on this site.</h4>

<h4>Children</h4>
<h4>Please do not slap children.</h4>

{% endblock maincontent %}